azure-core
azure-identity
azure-storage-blob
ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
dagshub
mlflow
pymongo
from_root
certifi
PyYAML
Flask
python-multipart
waitress
jinja2
imblearn
-e .